{
    extends: [ "eslint:recommended", "plugin:react/recommended" ],
    plugins: [ "react" ],
    parser: "babel-eslint",
    env: {
        browser: true,
    },
    rules: {
        "semi": ["error"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-irregular-whitespace": ["error"],
        "linebreak-style": ["warn", "unix"],
        "no-undef": ["warn"],
        "no-console": ["warn"],
        "no-unused-vars": ["warn"]
    }
}